@model User

<form asp-action="Insert" method="post" role="form">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Username" asp-for="Username"/>
        <span asp-validation-for="Username" class="text-danger"></span>    
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" placeholder="Password" asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>  
    </div>
    <div>
        <input type="submit" class="btn btn-secondary" value="Login" />
    </div>
</form>