@model TasksViewModel

<form asp-action="Insert" id="form-action" method="post" role="form">
    <div asp-validation-summary="All"></div>
    <label asp-for="Task.Title"></label>
    <input asp-for="Task.Title" />
    <span asp-validation-for="Task.Title" />
    <label asp-for="Task.Description"></label>
    <input asp-for="Task.Description" />
    <span asp-validation-for="Task.Description" />
    <input type="submit" id="form-button" value="Add task" />
</form>