@model User

<div class="container p-5 my-5 border" style="background-color: aliceblue; margin: auto; width: 500px;">
    <div>
        <h1 class="text-center">Sign up</h1>
    </div>
    @Html.Partial("RegistrationForm")
</div>